{% extends "blog/base2.html" %}
{% load blog_tags %}

{% block title %}My Blog{% endblock %}

{% block content %}

	<section class="blog-list px-3 py-5 p-md-5 min-vh-100">
		<div class="container">
			{% if tag %}
				<h3 class="title mb-3 pb-3">Posts tagged with "{{ tag.name }}"</h3>
			{% endif %}
			{% for post in posts %}
				<div class="item mb-5" style="max-height: 18.75rem; overflow: hidden;">
				    <div class="media">
					    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ post.thumbnail.url }}" alt="image" style="min-width: 110px;">
					    <div class="media-body">
						    <h3 class="title mb-1"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
						    <div class="meta mb-1">
						    	<span class="date">Published {{ post.publish }} by {{ post.author }}</span>
						    	<span class="time">{{ post.read_length }} minute{{ post.read_length|pluralize}} read</span>
						    	<span class="comment">
						    		<i class="fa fa-comments"></i>
						    			{% with post.comments.count as total_comments %}
											{{ total_comments }} comment{{ total_comments|pluralize}}
										{% endwith %}
								</span>
								{% with post.tags.count as total_tags %}
									{% if total_tags %}
										<br>
										<span class="comment">
										Tags: 
										{% for tag in post.tags.all %}
											<a href="{% url 'blog:post_list_by_tag' tag.slug %}">
												{{ tag.name }}
											</a>
											{% if not forloop.last %}, {% endif %}
										{% endfor %}
										</span>
									{% else %}
										<br>
										<span class="comment">
											<em>No tags added</em>
										</span>
									{% endif %}
								{% endwith %}
							</div>
						    <div class="intro text-justify">{{ post.body|markdown|truncatewords_html:35 }}</div>
						    <a class="more-link" href="{{ post.get_absolute_url }}">Read more &rarr;</a>
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item-->
			{% endfor %}
			{% include "pagination.html" with page=posts %}
		</div>
	</section>
		
	
{% endblock %}	

